<%- include('includes/header.ejs') %>
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <br>
    <p class="err"><span>404</span> Page not found</p>
    <a href="/" class="btn btn-dark" role="button">Return to home</a>
    <br>
    
<%- include('includes/footer.ejs') %>