@import url('https://fonts.googleapis.com/css2?family=Joan&family=Koulen&family=Raleway:wght@500&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Joan', serif;
    font-family: 'Koulen', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Slab', serif;
    list-style: none;
    /* text-align: center;*/
    justify-items: center; 
}
main{
    margin: 2em 4em;
}
.btn{
    border: none;
}
/* header, footer{
    width: 100%;
    height: 3rem;
    background-color: rgb(145, 33, 25);
}
*/footer{
    color: rgb(0, 0, 0);
    justify-content: center;
    background-color: #F8F9FA;
    text-align: center;
}
ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style: none;
}
/*li{
    margin: 1.5em;
}*/
span{
    color: rgb(255, 0, 0);
}/*
/*a, button{
    color: rgb(255, 255, 255);
    transform: none;
    font-style: normal;
    text-decoration: none;    
}
button{
    text-decoration: none;
    border: none;
    background-color: rgb(180, 61, 25);
    
    padding: 0.25rem 1rem;
    border-radius: 6px;
}
a:hover, button:hover{
    color: rgb(148, 215, 226);
}

.err{
    font-style: oblique;
    font-weight: bolder;
}

.products>li{
    background-color: rgb(216, 216, 216);
}

.form-edit-add{
    margin: 4% 10%;
    width: 80%;
    text-align: justify;
}

.cart-number{
    background-color: rgb(197, 7, 7);
    color: rgb(255, 255, 255);
    padding: 0.4em 1em;
}

.some-btn{
    display: inline-flex;
    padding: 5rem;
} */